# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.pytest_cache/
.cache

# Streamlit files
Streamlit/metrics.txt
Streamlit/results.txt
Streamlit/model_results.png
Streamlit/bank_pipeline.skops
