# Normalize all text files
* text=auto

# Specific handling for .gitattributes, .gitignore, and markdown files
*.gitattributes text
.gitignore      text
*.md            text diff=markdown

# Jupyter notebooks should use LF for line endings
*.ipynb text eol=lf

# Prevent these files from being included in release archives
.gitattributes export-ignore
.gitignore     export-ignore
